<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Details</title>
  </head>
  <h1>Full information</h1>
  <body>
    <p>
      {% if service.gender == 1 %}
      <img src="../static/image/zac.jpg" alt ="" style = "width:300px;">
    {% else %}
      <img src="../static/image/nancy.jpg" alt ="" style = "width:300px;">
    {% endif %}
    </p>
    <b>name : {{service.name}}</b>
    <p>yob : {{service.yob}}</p>
    <p>gender: {{ "Female" if service.gender == 0 else "Male" }}</p>
    <p>height : {{service.height}}</p>
    <p>address : {{service.address}}</p>
    <p>status: {{ "Free" if service.status == False else "Busy" }}</p>
    <p>description : {{service.description}}</p>
    <p>measurements : {{service.measurements}}</p>

  </body>
</html>
