<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Điền form này đi </h1>

    <form method = 'post'>
      <label>Tên</label>
      <input name="name" value="Nguyễn Văn A">

      <br>

      <label>Năm sinh</label>
      <input name="yob" value="1999">

      <br>

      <label>Số đt</label>
      <input name="phone" value="">

      <br>

      <label > Image Link - nhập link ảnh</label>
      <input type="text" name ='image'>

      <br>
      <label > Giới tính </label> <br>
      <input type="radio" name = 'gender' value="1"> Nam <br>
      <input type="radio" name = 'gender' value="0" checked> Nữ <br>

      <br>
      <label> Số đo 3 vòng (V1,V2,V3)</label>
      <input type="number" name="measure1">
      <input type="number" name="measure2">
      <input type="number" name="measure3">

      <br>
      <label> Chiều cao </label>
      <input name = "height">

      <br>
      <input type="submit" value="Thêm">

    </form>

  </body>
</html>
