+<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update</title>
  </head>
  <body>
    <h1>Update information</h1>

    <p>
      <form method = 'post'>
        <label>Name</label>
        <input name="name" value ="{{ service_to_update.name }}">

        <label>Yob</label>
        <input name="yob" value ="{{service_to_update.yob }}">

        <label>Phone</label>
        <input name="phone" value ="{{service_to_update.phone }}">

        <br>
        <label>Gender</label>
        {% if service_to_update.gender == 1 %}
        <input type="radio" name="gender" value="1" checked> Male
        <input type="radio" name="gender" value="0"> Female
        {% else %}
        <input type="radio" name"gender" value="1">Male
        <input type="radio" name"gender" value="0" checked>Female
        {% endif %}
        <br>

        <label>Height</label>
        <input name='height' value="{{service_to_update.height}}">

        <label>Address</label>
        <input name='address' value="{{service_to_update.address}}">

        <label>Description</label>
        <input name='description' value="{{service_to_update.description}}">

        <label>Measurements</label>
        <input type="number" name="measure1" value="{{service_to_update.measure1}}">
        <input type="number" name="measure2" value="{{service_to_update.measure2}}">
        <input type="number" name="measure3" value="{{service_to_update.measure3}}">

        <label>Status</label>
        {% if service_to_update.status == 1 %}
        <input type="radio" name="status" value= True checked> True
        <input type="radio" name="status" value= False> False
        {% else %}
        <input type="radio" name"status" value= True>True
        <input type="radio" name"status" value= False checked>False
        {% endif %}

        <input type="submit" value="Thêm">
  </body>
</html>
