h1 {
  color: #961571;
  text-align: center;
}

#hello-tag {
  color: black;
}

.text-blue {
  color: blue;
}
h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  text-align: center;
}

.h-500px {
  height: 500px;
}

.bg-green {
  background: green;
}

.background {
  background-image: url(https://cdn4.i-scmp.com/sites/default/files/styles/landscape/public/images/methode/2017/07/27/8c20649e-705b-11e7-9a9a-a7d2083b6658_1280x720_193503.JPG?itok=OWig35Sz);
  background-size: cover;
  background-attachment: fixed;
}

.h-50px {
  height: 50px;
}
.w-200px {
  width: 200px;
}
.d-inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.border-red {
  border: 10px solid red;
}
#box-model {
  padding: 10px 50px 15px 20px;
}
#margin-elenment {
  padding:  20px 50px 50px 100px;
}
