<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create new service</h1>

    <form method = 'post'>
      <label>Tên</label>
      <input name="name">

      <label>Năm sinh</label>
      <input name="yob">

      <label>Số đt</label>
      <input name="phone">

      <br>
      <label>gender</label>
      <br>
      <input type"radio" name="gender" value="male">Male
      <br>
      <input type"radio" name"gender" value="female">Female
      <br>

      <input type="submit" value="Thêm">

    </form>

  </body>
</html>
